body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 768px;
  background: url(/banner.jpg), center center no-repeat;
  padding: 20px;
  .about-signin {
    height: 80px;
    width: 100%;
    text-align: right;
    .about,
    .sign-in {
      text-decoration: none;
      margin-top: 20px;
      display: inline-block;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 400;
    }
    .sign-in {
      margin-right: 60px;
      margin-left: 25px;
      border: 1px solid;
      color: green;
      border-radius: 30px;
    }

    .about {
      color: #000;
    }
  }
  .logo {
    background: url(./hapoERP.png) center center no-repeat;
    margin-top: 40px;
    height: 77px;
    margin: 165px 0 53px 0;
  }
  .content-center {
    .left,
    .right,
    .center {
      width: 33%;
      display: inline-block;
      text-align: center;
      img {
        font-size: 30px;
      }
    }
    span {
      display: block;
      font-size: 30px;
    }

    img {
      height: 50px;
      width: 50px;
    }
  }
  .text {
    text-align: center;
    margin-top: 77px;
    margin-bottom: 1rem;
    span {
      font-size: 20px;
    }
  }

  .btn-start-now {
    text-align: center;
    padding-top: 30px;
    button {
      text-transform: uppercase;

      padding: 15px;
      font-size: 20px;
      border: 1px solid green;
      border-radius: 20px;
      background-color: green;
      color: #fff;
      cursor: pointer;
    }
  }
}
